30 9  * * SAT ffmpeg -hide_banner -loglevel error -i "http://78.129.185.81:25422/stream" -t 00:02:30 -c copy "/output/RCA-SAB-$(date +%F_%H-%M-%S).mp3"
40 14  * * SUN ffmpeg -hide_banner -loglevel error -i "http://78.129.185.81:25422/stream" -t 00:02:30 -c copy "/output/RCA-DOM-$(date +%F_%H-%M-%S).mp3"
20 21 * * MON ffmpeg -hide_banner -loglevel error -i "https://centova.radio.com.pt/proxy/566?mp=/stream" -t 00:02:30 -c copy "/output/RM-SEG-$(date +%F_%H-%M-%S).mp3"
20 21 * * FRI ffmpeg -hide_banner -loglevel error -i "https://centova.radio.com.pt/proxy/566?mp=/stream" -t 00:02:30 -c copy "/output/RM-SEX-$(date +%F_%H-%M-%S).mp3"
40 14 * * SUN ffmpeg -hide_banner -loglevel error -i "https://centova.radio.com.pt/proxy/566?mp=/stream" -t 00:02:30 -c copy "/output/RM-DOM-$(date +%F_%H-%M-%S).mp3"
0 19 * * MON ffmpeg -hide_banner -loglevel error -i "https://centova.radio.com.pt/proxy/405?mp=/stream" -t 00:02:30 -c copy "/output/UM-SEG-$(date +%F_%H-%M-%S).mp3"
0 12 * * SAT ffmpeg -hide_banner -loglevel error -i "https://centova.radio.com.pt/proxy/405?mp=/stream" -t 00:02:30 -c copy "/output/UM-SAB-$(date +%F_%H-%M-%S).mp3"
40 14 * * SUN ffmpeg -hide_banner -loglevel error -i "https://centova.radio.com.pt/proxy/405?mp=/stream" -t 00:02:30 -c copy "/output/UM-DOM-$(date +%F_%H-%M-%S).mp3"
0 12 * * SAT ffmpeg -hide_banner -loglevel error -i "https://centova.radio.com.pt/proxy/491?mp=/stream" -t 00:02:30 -c copy "/output/BRIGANTINA-SAB-$(date +%F_%H-%M-%S).mp3"
50 20 * * MON ffmpeg -hide_banner -loglevel error -i "https://centova.radio.com.pt/proxy/491?mp=/stream" -t 00:02:30 -c copy "/output/BRIGANTINA-SEG-$(date +%F_%H-%M-%S).mp3"
40 14 * * SUN ffmpeg -hide_banner -loglevel error -i "https://centova.radio.com.pt/proxy/491?mp=/stream" -t 00:02:30 -c copy "/output/BRIGANTINA-DOM-$(date +%F_%H-%M-%S).mp3"